Package: com.ginsu.protectedbrowser
Name: ProtectedBrowser
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
